.complet{
  height: 15px;
  width: 15px;
  background-color: darkgreen;
}

.plus_moitie{
  height: 15px;
  width: 15px;
  background-color: green;
}

.moins_moitie{
  height: 15px;
  width: 15px;
  background-color: yellow;
}

.vide{
  height: 15px;
  width: 15px;
  background-color: red;
}

ul.listes_stations{
  list-style: none;
}

ul.listes_stations li{
  display: flex;
  align-items: center;
}

ul.listes_stations li span{
  width:550px;
}

ul.listes_stations li div{
  margin-left: 30px;
}
