/* GENERALE */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header,
main{
  width: 1200px;
  margin: 0 auto;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* HEADER */

header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e06517;
}

/* MAIN */

h2{
  color: #e06517;
  font-size: 14px;
}

/** code couleurs **/
.complet{
  height: 15px;
  width: 15px;
  background-color: blue;
}

.plus_moitie{
  height: 15px;
  width: 15px;
  background-color: green;
}

.moins_moitie{
  height: 15px;
  width: 15px;
  background-color: yellow;
}

.vide{
  height: 15px;
  width: 15px;
  background-color: red;
}

/** dispositions **/

section{
  margin-top: 30px;
}

section.content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul.legende{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

ul.legende li{
  display: inherit;
  padding: 0 10px;
}

ul.legende li:first-child{
  padding: 0;
}

ul.listes_stations li{
  display: flex;
  align-items: center;
  padding: 5px 0;
}

ul.listes_stations li span{
  width:500px;
}

ul.legende li div,
ul.listes_stations li div{
  margin-left: 30px;
  border-radius: 50%;
}
